@page
@model ForgotPasswordModel
@using LazZiya.ExpressLocalization
@using System.Globalization
@inject ISharedCultureLocalizer _loc
@{
    ViewData["Title"] = _loc[Model.PageTabTitle];
}
@section meta_head_tags{
    <meta name='description' content="GatheringForGood - Bringing people together to help save the environment and reduce the impact of climate change." />
    <meta property='og:locale' content="en_US" />
    <meta property="og:type" content="website" />
    <meta property='og:title' content="GatheringForGood - The place where ideas and expertise come together to solve the world's problems." />
    <meta property='og:description' content="GatheringForGood - Bringing people together to help save the environment and reduce the impact of climate change." />
    <meta property='og:url' content="https://gatheringforgood.com" />
    <meta property='og:site_name' content="gatheringforgood" />
    <meta property='og:image' content="http://www.gatheringforgood.com/images/shareimage.jpg" />
    <meta property='og:image:width' content="1200" />
    <meta property='og:image:height' content="600" />
    <meta property='og:image:alt' content="gatheringforgood sharing image" />
    <meta property="og:author" content="gatheringforgood">
    <link rel="preload" as="image" href="@Model.GetEarthHandsReducedImageUrl" imagesrcset="@Model.GetEarthHandsReduced400ImageUrl 2.5x, @Model.GetEarthHandsReduced800ImageUrl 2x, @Model.GetEarthHandsReduced1200ImageUrl 1x, @Model.GetEarthHandsReduced1600ImageUrl 0.5x" sizes="100vw">
}
@section header_image{
    <div class="bg-img-non-home" id="ForgotPasswordPageBanner">
        <nav class="navbar navbar-expand-lg navbar-light" id="main-navbar-forgotpassword-page">
            <div class="container">
                <a class="navbar-brand mt-20" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/circle_logo.webp" id="_ForgotPasswordPageLogoImg" width="40" height="40" style="margin:0px 20px;" alt="Logo Image" onclick="gtag('event','click',{'event_category':'Click','event_label':'ForgotPswdPage-GoToHomeLogo'});">
                </a>
                <button class="navbar-toggler" type="button" id="_ForgotPasswordPageNavBarToggler" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link normal-item" id="_ForgotPasswordPageHomeNavLink" asp-area="" asp-controller="Home" asp-action="Index" asp-route-culture="@CultureInfo.CurrentCulture.Name" onclick="gtag('event','click',{'event_category':'Click','event_label':'ForgotPswdPage-NavLink-Home'});">@_loc[Model.NavBarHome]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link normal-item" id="_ForgotPasswordPageArticlesNavLink" asp-area="" asp-controller="Articles" asp-action="Articles" asp-route-culture="@CultureInfo.CurrentCulture.Name" onclick="gtag('event','click',{'event_category':'Click','event_label':'ForgotPswdPage-NavLink-Articles'});"><p id="ForgotPswdPage-Articles-NavLink-Para" onclick="DisableLinks('ForgotPswdPage-Articles-NavLink-Para', true, 'ForgotPswdPage');">@_loc[Model.Articles]</p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link normal-item" id="_ForgotPasswordPageAboutNavLink" asp-area="" asp-controller="About" asp-action="About" asp-route-culture="@CultureInfo.CurrentCulture.Name" onclick="gtag('event','click',{'event_category':'Click','event_label':'ForgotPswdPage-NavLink-About'});">@_loc[Model.NavBarAbout]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link normal-item" id="_ForgotPasswordPageHelpNavLink" asp-area="" asp-controller="Help" asp-action="Help" asp-route-culture="@CultureInfo.CurrentCulture.Name" onclick="gtag('event','click',{'event_category':'Click','event_label':'ForgotPswdPage-NavLink-Help'});">@_loc[Model.NavBarHelpCenter]</a>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
}
@section header_content{
    <div class="container-title">
        <div class="block-title">
            <br>
            <h1 class="block-subtitle-text text-danger" id="ForgotPasswordPageSubtitle">@_loc[Model.Heading]</h1>
            <h2 class="block-title-text-non-home text-danger" id="ForgotPasswordPageTitle">@_loc[Model.Title]</h2>
        </div>
    </div>
}
</div>
<body class="body-bg-img">
    <div class="modal fade" id="forgotPasswordPageComingSoonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content comingsoon-bg-img">
                <div class="modal-header">
                    <h3 class="modal-title" id="ComingSoonModalTitle">Modal Error!1</h3>
                    <button type="button" id="ComingSoonModalHeaderCloseButton" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col justify-content-center align-items-center">
                    <h4 class="modal-body" id="forgotPasswordPageLearnMoreModalPara">Modal Error!2</h4>
                </div>
                <br />
                <div class="form-group thumb-block">
                    <form asp-page="ForgotPassword" asp-page-handler="SaveUserEntry" method="post">
                        <label class="modal-body1 col-form-label" id="forgotPasswordPageComingSoonModalFormLabel">Modal Error!3</label>
                        <br />
                        <textarea class="form-control" name="newsfeedUserEntry" id="newsfeedUserEntry" type="text"></textarea>
                        <div class="modal-footer">
                            <button type="submit" id="ComingSoonModalFooterSubmitButton" class="btn btn-success" data-dismiss="forgotPasswordPageComingSoonModal" onclick="gtag('event','click',{'event_category':'Click','event_label':'ForgotPswdPage-Button-ComingSoonModalSubmit'});">@_loc[Model.Submit]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-body justify-content-center align-items-center">
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <br />
                <h2 class="font-style-content-head" id="ForgotPasswordSubHeading">@_loc[Model.SubHeading]</h2>
                <hr />
            </div>
        </div>
        <br />
    </div>
    <div class="container-body justify-content-center align-items-center">
        <div class="row justify-content-center align-items-center">
            <form method="post">
                <partial name="_StatusMessage" model="Model.StatusMessage" />
                <div class="container-body  justify-content-center align-items-center">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-12 font-style-content">
                            <div class="form-group justify-content-center align-items-center">
                                <div class="form-group">
                                    <label class="font-heading" id="_ForgotPasswordPageEmailHeading" asp-for="Input.Email">@_loc[Model.EmailHeading]</label>
                                    <input asp-for="Input.Email" class="form-control" id="_ForgotPasswordPageEmailInput" />
                                    <span asp-validation-for="Input.Email" class="font-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-success button-title" id="_ForgotPasswordPageSubmitButton" asp-route-culture="@CultureInfo.CurrentCulture.Name">@_loc[Model.Submit]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
@section Scripts {
    <script src="~/js/forgotPasswordPageComingSoonModal.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/HomeDisableEnableLinks.js"></script>
    <script src="~/js/DisableEnableLinks.js"></script>
}
