@page
@model ResetPasswordModel
@using LazZiya.ExpressLocalization
@using System.Globalization
@inject ISharedCultureLocalizer _loc
@{
    ViewData["Title"] = _loc[Model.PageTabTitle];
}
@section meta_head_tags{
    <meta name='description' content="GatheringForGood - Bringing people together to help save the environment and reduce the impact of climate change." />
    <meta property='og:locale' content="en_US" />
    <meta property="og:type" content="website" />
    <meta property='og:title' content="GatheringForGood - The place where ideas and expertise come together to solve the world's problems." />
    <meta property='og:description' content="GatheringForGood - Bringing people together to help save the environment and reduce the impact of climate change." />
    <meta property='og:url' content="https://gatheringforgood.com" />
    <meta property='og:site_name' content="gatheringforgood" />
    <meta property='og:image' content="http://www.gatheringforgood.com/images/shareimage.jpg" />
    <meta property='og:image:width' content="1200" />
    <meta property='og:image:height' content="600" />
    <meta property='og:image:alt' content="gatheringforgood sharing image" />
    <meta property="og:author" content="gatheringforgood">
    <link rel="preload" as="image" href="@Model.GetEarthHandsReducedImageUrl" imagesrcset="@Model.GetEarthHandsReduced400ImageUrl 2.5x, @Model.GetEarthHandsReduced800ImageUrl 2x, @Model.GetEarthHandsReduced1200ImageUrl 1x, @Model.GetEarthHandsReduced1600ImageUrl 0.5x" sizes="100vw">
}
@section header_image{
    <div class="bg-img-non-home" id="ResetPasswordPageBanner">
        <nav class="navbar navbar-expand-lg navbar-light" id="main-navbar-resetpassword-page">
            <div class="container">
                <a class="navbar-brand mt-20" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/circle_logo.webp" id="_ResetPasswordPageLogoImg" width="40" height="40" style="margin:0px 20px;" alt="Logo Image" onclick="gtag('event','click',{'event_category':'Click','event_label':'ResetPswdPage-GoToHomeLogo'});">
                </a>
                <button class="navbar-toggler" type="button" id="_ResetPasswordPageNavBarToggler" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link normal-item" id="_ResetPasswordPageHomeNavLink" asp-area="" asp-controller="Home" asp-action="Index" asp-route-culture="@CultureInfo.CurrentCulture.Name" onclick="gtag('event','click',{'event_category':'Click','event_label':'ResetPswdPage-NavLink-Home'});">@_loc[Model.NavBarHome]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link normal-item" id="_ResetPasswordPageArticlesNavLink" asp-area="" asp-controller="Articles" asp-action="Articles" asp-route-culture="@CultureInfo.CurrentCulture.Name" onclick="gtag('event','click',{'event_category':'Click','event_label':'ResetPswdPage-NavLink-Articles'});"><p id="ResetPswdPage-Articles-NavLink-Para" onclick="DisableLinks('ResetPswdPage-Articles-NavLink-Para', true, 'ResetPswdPage');">@_loc[Model.Articles]</p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link normal-item" id="_ResetPasswordPageAboutNavLink" asp-area="" asp-controller="About" asp-action="About" asp-route-culture="@CultureInfo.CurrentCulture.Name" onclick="gtag('event','click',{'event_category':'Click','event_label':'ResetPswdPage-NavLink-About'});">@_loc[Model.NavBarAbout]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link normal-item" id="_ResetPasswordPageHelpNavLink" asp-area="" asp-controller="Help" asp-action="Help" asp-route-culture="@CultureInfo.CurrentCulture.Name" onclick="gtag('event','click',{'event_category':'Click','event_label':'ResetPswdPage-NavLink-Help'});">@_loc[Model.NavBarHelpCenter]</a>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
}
@section header_content{
    <div class="container-title">
        <div class="block-title">
            <br>
            <h1 class="block-subtitle-text text-danger" id="ResetPasswordPageSubtitle">@_loc[Model.SubTitle]</h1>
            <h2 class="block-title-text-non-home text-danger" id="ResetPasswordPageTitle">@_loc[Model.Title]</h2>
        </div>
    </div>
}
</div>
<body class="body-bg-img">
    <div class="modal fade" id="resetPasswordPageComingSoonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content comingsoon-bg-img">
                <div class="modal-header">
                    <h3 class="modal-title" id="ComingSoonModalTitle">Modal Error!1</h3>
                    <button type="button" id="ComingSoonModalHeaderCloseButton" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col justify-content-center align-items-center">
                    <h4 class="modal-body" id="resetPasswordPageLearnMoreModalPara">Modal Error!2</h4>
                </div>
                <br />
                <div class="form-group thumb-block">
                    <form asp-page="ResetPassword" asp-page-handler="SaveUserEntry" method="post">
                        <label class="modal-body1 col-form-label" id="resetPasswordPageComingSoonModalFormLabel">Modal Error!3</label>
                        <br />
                        <textarea class="form-control" name="newsfeedUserEntry" id="newsfeedUserEntry" type="text"></textarea>
                        <div class="modal-footer">
                            <button type="submit" id="ComingSoonModalFooterSubmitButton" class="btn btn-success" data-dismiss="resetPasswordPageComingSoonModal" onclick="gtag('event','click',{'event_category':'Click','event_label':'ResetPswdPage-Button-ComingSoonModalSubmit'});">@_loc[Model.Submit]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-body">
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <br />
                <h2 class="font-style-content-head" id="ResetPswdHeading">@_loc[Model.Heading]</h2>
                <hr />
            </div>
        </div>
        <br />
    </div>
    <br />
    <div class="container-body justify-content-center align-items-center">
        <div class="row justify-content-center align-items-center">
            <form method="post">
                <div class="container-body  justify-content-center align-items-center">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-12 font-style-content">
                            <div class="form-group justify-content-center align-items-center">
                                <div asp-validation-summary="ModelOnly" class="font-danger"></div>
                                <input asp-for="Input.Code" type="hidden" />
                                <div class="form-group">
                                    <label class="font-heading" id="_ResetPswdPageEmailHeading" asp-for="Input.Email">@_loc[Model.EmailHeading]</label>
                                    <input asp-for="Input.Email" class="form-control" id="_ResetPswdPageEmailInputField" />
                                    <span asp-validation-for="Input.Email" class="font-danger" id="_ResetPswdPageEmailValidation"></span>
                                </div>
                                <div class="form-group">
                                    <label class="font-heading" id="_ResetPswdPagePasswordHeading" asp-for="Input.Password">@_loc[Model.PasswordHeading]</label>
                                    <input asp-for="Input.Password" class="form-control" id="_ResetPswdPagePasswordInputField" />
                                    <span asp-validation-for="Input.Password" class="font-danger" id="_ResetPswdPagePasswordValidation"></span>
                                </div>
                                <div class="form-group">
                                    <label class="font-heading" id="_ResetPswdPageConfirmPasswordHeading" asp-for="Input.ConfirmPassword">@_loc[Model.ConfirmPassword]</label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" id="_ResetPswdPageConfirmPasswordInputField" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="font-danger" id="_ResetPswdPageConfirmPasswordValidation"></span>
                                </div>
                                <button type="submit" class="btn btn-success" id="ResetPasswordButton">@_loc[Model.ResetButton]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/resetPasswordPageComingSoonModal.js"></script>
    <script src="~/js/HomeDisableEnableLinks.js"></script>
    <script src="~/js/DisableEnableLinks.js"></script>
}

